<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Detail</title>
    </head>
    <body>
        <h1>{{ petshop.name }}</h1>
        <h3>Pet age: {{ petshop.age }}</h3>
        <p> Pet avaliabilty:{{ petshop.available }}</p>
        <p>Pet price:  {{ petshop.price }}</p>
        <a href="{% url 'pet-update' petshop.id %}">
          <button type="button" name="button">
            Update
          </button>
        </a>
        <br>
        <a href="{% url 'pet-delete' petshop.id %}">
          <button type="button" name="button">
            Delete
          </button>
        </a>
</html>
